@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap");

body {
  line-height: 1.5;
  margin: 0 auto;
  font-family: "roboto", sans-serif;
}

.nav-link {
  text-decoration: none;
  padding: 10px;
  background-color: rgb(9, 9, 90);
  color: aliceblue;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  text-transform: capitalize;
  align-items: center;
  flex-wrap: wrap;
}

.nav-link:hover {
  color: rgba(255, 6, 6, 0.82);
  transition: 0.5s ease;
}

.game-hub {
  display: flex;
  align-items: flex-end;
}

.logo {
  width: 200px;
  padding-top: 20px;
  padding-left: 30px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.game-of-the-month-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;

}

.game-of-the-month-heading-wrap {
  display: flex;
  justify-content: center;
  color: white;
}

.game-of-the-month-heading {
  font-size: 55px;
}

.game-of-the-month {
  max-width: 325px;
  width: 100%;
  color: white;
}

.game-of-the-month-frontpage {
  font-size: 1.7em;
}

.our-reccomendation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.buy-game-button {
  color: white;
  padding-inline: 15px;
  font-size: 20px;
  text-decoration: none;
  padding: 15px;
  width: 245px;
  font-size: 25px;
}

.buy-game-button:hover {
  color: rgba(255, 6, 6, 0.82);
  text-transform: capitalize;
  transition: 0.5s ease;
}

.games-reccomended {
  max-width: 325px;
  width: 100%;
  display: flex;
}

.game-reccomended-group {
  display: flex;
  padding-block: 100px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

h3 {
  text-align: left;
}


.buy-game-button-reccomendation:hover {
  color: rgba(255, 6, 6, 0.82);
  text-transform: capitalize;
  transition: 0.5s ease;
}

.seeallgames {
  color: white;
  background-color: rgb(9, 9, 90);
  border-radius: 10px;
  margin-top: 50px;
  padding: 15px;
  width: 245px;
  font-size: 25px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.seeallgames:hover {
  color: rgba(255, 6, 6, 0.82);
  text-transform: capitalize;
  transition: 0.5s ease;
}

.backgroundcolor {
  background-color: rgb(9, 9, 90);
  border-radius: 10px;
  margin-bottom: 116px;
  padding: 5px;
}

.backgroundcolor-2 {
  background-color: rgb(9, 9, 90);
  border-radius: 10px;
  margin-bottom: 70px;
}

.backgroundcolor-3 {
  background-image: url(./images/anders-drange-PmXVWelqhGs-unsplash.jpg);
  background-size: cover;
}

/*buy games*/
h1,
h2 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 30px;
  color: whte;
}

h3 {
  color: white;
  padding-left: 8px;
}

.image-buy-games {
  width: 100%;
}

.image-buy-games-frontpage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10rem;

  margin-top: 50px;
  background-image: url(./images/anders-drange-PmXVWelqhGs-unsplash.jpg);
  background-size: cover;

  padding-bottom: 34rem;
  padding-inline: 50px;
  padding-top: 50px;
}

.bg-h2 {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  font-size: 50px;
}

.backgroundcolor-4 {
  background-color: rgb(9, 9, 90);
  display: flex;
  border-radius: 10px;
}

.buy-game-button-bg{
  color:white;
  text-decoration: none;
  padding-inline: 10px;
  margin-left: 8px;
  font-size: 1.3rem;
  border-radius: 30px;
  
  border: 1px black solid;
}



.buy-game-button-bg:hover {
  color: rgba(255, 6, 6, 0.82);
  text-transform: capitalize;
  transition: 0.5s ease;
}





/*Contact information*/

.text-box {
  height: 30px;
}

.text-box {
  width: 291px;
  margin: 5px;
  display: flex;
}

.send-btn {
  color: white;
  background-color: rgb(9, 9, 90);
  margin-left: 5px;
}

.send-btn:hover {
  color: rgba(255, 6, 6, 0.82);
  text-transform: capitalize;
  transition: 0.5s ease;
}

.reach-out-2 {
  margin-top: 50px;
  margin-left: 40px;
  margin-bottom: 50px;
  align-self: flex-start;
}

.contact-information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*About Us*/

.about-us-h1 {
  margin-bottom: 130px;
  display: flex;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

.about-us-h1-title {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.game-hub-logo-about {
  max-width: 220px;
  padding-left: 20px;
}

/*buying game*/

.h1-buying-games{
  display: flex;
  justify-content: center;
}

.buying-game-assassin {
  max-width: 220px;
  padding-left: 400px;
  margin-bottom: 250px;
}

.assassin-bg {
  max-width: 200px;
}



.submit{
  background-color: rgb(9, 9, 90);
  color: white;
 text-decoration: none;
 margin: 1em;
inline-size: 70px;
 border-radius: 20px;
 padding: 2px;
 padding-left: 12px;
}

.shop-more {
  background-color: rgb(9, 9, 90);
  color: white;
  text-decoration: none;
  margin: 1em;
 inline-size: 90px;
  border-radius: 20px;
padding: 2px;
padding-left: 12px;
}

.submit-checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.submit:hover {
  color: rgba(255, 6, 6, 0.82);
  text-transform: capitalize;
  transition: 0.5s ease;
}



.shop-more:hover {
  color: rgba(255, 6, 6, 0.82);
  text-transform: capitalize;
  transition: 0.5s ease;
}

/*fill inn info*/

.card-info {
  display: flex;
  justify-content: center;
}

.container-fill-out {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.fill-out-checkout {
  color: white;
  background-color: rgb(9, 9, 90);
  border-radius: 10px;
  
  margin-bottom: 70px;
  margin-top: 30px;
  padding: 3px 10px;
  font-size: large;
}

.fill-out-checkout:hover {
  color: rgba(255, 6, 6, 0.82);
  text-transform: capitalize;
  transition: 0.5s ease;
}

.input-box-fill-out {
  margin: 15px;
}

.card-info-fill-out {
  padding-top: 70px;
  padding-bottom: 20px;
  font-size: 1.3em;
}

.name-fill-out {
  padding-bottom: 10px;
  font-size: 1.3em;
}

.proceed-to-checkout{
  display: flex;
  justify-content: center;
 color:rgb(9, 9, 90);
  margin-bottom: 40px;
  text-decoration: none;
  border-radius: 20px;
  font-size: 1.5rem;
  }

  .proceed-to-checkout:hover{
    
      color: rgba(255, 6, 6, 0.82);
      text-transform: capitalize;
      transition: 0.5s ease;
   
  }

/*Congratulations*/

.h1-congratulations {
  display: flex;
  justify-content: center;
}

.p-congratulations {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 350px;
}

.shop-more-congratulations {
  text-decoration: none;
  color: white;
  background-color: rgb(9, 9, 90);
  border-radius: 10px;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 140px;
  display: flex;
  justify-content: center;
  inline-size: 120px;
}

.shop-more-congratulations:hover {
  color: rgba(255, 6, 6, 0.82);
  text-transform: capitalize;
  transition: 0.5s ease;
}

.click-here:hover {
  color: rgba(255, 6, 6, 0.82);
  text-transform: capitalize;
  transition: 0.5s ease;
}

/*gaming code*/

.steam-key {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playstation-key {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.gamming-code-h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.h2-ac {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

/*footer*/

.footer {
  background-color: rgb(9, 9, 90);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding: 0px 25px;
}

.footer-branding {
  height: 75px;
}

ul {
  list-style: none;
}

.footer-list-item {
  padding: 0px;
}

.social-links {
  color: white;
  padding: 0px 25px;
}

.footer-col h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 500;
}

.footer-color h4 {
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul a li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 10px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: red;
}

@media only screen and (max-width: 880px) {

.image-buy-games-frontpage {
    grid-template-columns: 1fr 1fr 1fr;

}

@media only screen and (max-width: 625px) {
.image-buy-games-frontpage {
    grid-template-columns: 1fr 1fr;

}
}

@media only screen and (max-width: 512px) {
.container {
    flex-direction: row;
  }
  .image-buy-games-frontpage {
    grid-template-columns: 1fr;
    grid-gap: 1%;
    padding-top: 25px;
  }

  .submit-checkout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px;
  }
}
